<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/css/style.css'>
</head>
<body>

<h1>{{ title }}</h1>

<div class="alert alert-error">
    <p>
        OUCH! something unexpected happend. The message you tried to view does not exist anymore!
    <p>
</div>
<p>
    <a href="/">&laquo back up</a>
</p>

</body>
</html>
